<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>QQMusic</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=8">
  <meta http-equiv="Expires" content="0">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Cache-control" content="no-cache">
  <meta http-equiv="Cache" content="no-cache">
  <link href="//at.alicdn.com/t/font_1426832_6rrhq7bn78d.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/Swiper/4.5.1/css/swiper.min.css" rel="stylesheet">

  <script src="//y.gtimg.cn/music/h5/player/player.js?max_age=2592000"></script>

  <!--{header-content}-->
</head>

<body>
  <div id="root">
    <!--{content}--->
  </div>
  <!--{script}-->
</body>

</html>