<!DOCTYPE html>
<html lang="en">

<head>
  <title>TaoMusic</title>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=8">
  <meta http-equiv="Expires" content="0">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Cache-control" content="no-cache">
  <meta http-equiv="Cache" content="no-cache">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
  <!--这个也是iphone私有标签，允许全屏浏览。-->
  <meta content="yes" name="apple-mobile-web-app-capable">
  <!--iphone的私有标签，iphone顶端状态条的样式。-->
  <meta content="black" name="apple-mobile-web-app-status-bar-style">
  <!--禁止数字自动识别为电话号码，这个比较有用，因为一串数字在iphone上会显示成蓝色，样式加成别的颜色也是不生效的。-->
  <meta content="telephone=no" name="format-detection">

  <link href="//at.alicdn.com/t/font_1426832_6rrhq7bn78d.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/Swiper/4.5.1/css/swiper.min.css" rel="stylesheet">

  <script src="//y.gtimg.cn/music/h5/player/player.js?max_age=2592000"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
  <!--{header-content}-->
</head>

<body>
  <script async>
    if (navigator && navigator.serviceWorker) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js');
      });
    }
  </script>
  <div id="root">
    <!--{content}--->
  </div>
  <!--{script}-->
</body>

</html>